<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>home</title>
</head>
<body>
    <!-- Header -->
    <section class="section-outer section-header">
        <div class="section-inner">
            <div class="section-header-top">
                <div class="section-header-top-wrapper">
                    <div class="section-header-top-wrapper-numbers">
                        <div class="section-header-top-wrapper-numbers_logo"></div>
                        <div class="section-header-top-wrapper-numbers_content">+79505483013</div>
                    </div>
                    <div class="section-header-top-wrapper-address">новгородцевой 13</div>
                </div>
            </div>
            <div class="section-header-middle">
                <div class="section-header-middle-wrapper">
                    <div class="section-header-middle-wrapper-logo"></div>
                    <div class="section-header-middle-wrapper-search">
                        <form action="">
                            <input type="search" name="" id="">
                            <button type="submit">поиск</button>
                        </form>
                    </div>
                    <div class="section-header-middle-wrapper-icons"></div>
                </div>
            </div>
            <div class="section-header-bottom"></div>
        </div>
    </section>
    <!-- / Header -->
    <!-- Menu -->
    <section class="section-outer section-menu">
        <div class="section-inner">
            menu
        </div>
    </section>
    <!-- / Menu -->
    <!-- Slider -->
    <section class="section-outer section-slider">
        <div class="section-inner">
            slider
        </div>
    </section>
    <!-- / Slider -->
       <!-- Cards -->
    <section class="section-outer section-cards">
        <div class="section-inner">
            cards
        </div>
    </section>
    <!-- / Footer -->
    <section class="section-outer section-footer">
        <div class="section-inner">
            footer
        </div>
    </section>
    <!-- / Footer -->
</body>
</html>